<header id="header" class="header fixed-top d-flex align-items-center">
  <!-- Start Logo -->
  <div class="d-flex align-items-center justify-content-between">
    <div class="logo d-flex justify-content-start align-items-sm-center">
      <img src="assets/logo2.png" alt="" />
    </div>
  </div>
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown pe-3">
        <div
          class="nav-link nav-profile d-flex align-items-center pe-0 clickable-div"
          data-bs-toggle="dropdown"
        >
          <span class="d-none d-md-block dropdown-toggle">{{
            user()?.username
          }}</span>
        </div>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <div
            class="dropdown-item d-flex align-items-center text-danger fw-semibold gap-2"
            (click)="logout()"
            style="cursor: pointer"
          >
            <i class="bi bi-box-arrow-right"></i>
            <span>Cerrar Sesión</span>
          </div>
        </ul>
      </li>
    </ul>
  </nav>
</header>
