<main id="main" class="main">
  @if (eventsService.eventsListIsLoading()) {
  <div>Cargando informacion</div>
  }@else {

  <app-title
    title="administrar eventos"
    section="administrar eventos"
  ></app-title>

  <section class="section dashboard">
    <div class="card">
      <div class="card-body">
        <!-- fixed -->

        <div class="card-title d-flex justify-content-between mb-3 mt-2">
          <h5>
            {{ "eventos" | titlecase }}
            <i class="bi bi-newspaper"></i>
          </h5>

          <div class="d-flex align-items-center my-pagination">
            <button
              class="btn btn-sm btn-primary d-flex justify-content-center align-items-center"
              (click)="goToPreviousPage()"
              [disabled]="offset === 0"
            >
              <i class="bi bi-arrow-left"></i>
              <span> anterior</span>
            </button>

            <span class="badge current-page">{{ currentPage }}</span>

            <button
              class="btn btn-sm btn-primary d-flex justify-content-center align-items-center"
              (click)="goToNextPage()"
            >
              <span>siguiente </span>
              <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>
        @if(eventsService.eventsListIsLoading()){
        <p>CARGANDO</p>
        }@else {
        <table class="table table-hover border border-3">
          <thead class="table-primary">
            <tr>
              @for (column of columns ; track $index) {
              <th class="text-center" style="width: auto">
                {{ column | titlecase }}
              </th>
              }
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            @for (event of eventsService.eventsList()?.data ; track $index) {
            <tr>
              @for (row of rows; track $index) {
              <td class="text-center mt-4" style="width: auto">
                {{ event[row] }}
              </td>
              }
              <td class="text-center">
                <img
                  [srcset]="[event.images?.sm]"
                  [alt]="[event.title]"
                  class="img-fluid"
                  style="height: 100px"
                />
              </td>

              <td>
                <a>
                  <i class="bi bi-pencil"></i>
                </a>
              </td>
            </tr>

            }@empty {
            <div class="d-flex justify-content-center mt-2">
              No hay información que mostrar
            </div>
            }
          </tbody>
        </table>
        }
      </div>

      <!-- fixed -->
    </div>
  </section>
  }
</main>
