<main id="main" class="main">
  <app-title title="noticias" section="crear noticia" icon="bi bi-newspaper" />
  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-5">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Imagen</h5>
                <div class="card shadow-lg border border-5">
                  <img
                    [src]="imagePreview | image"
                    class="img-fluid"
                    alt="No image"
                    style="aspect-ratio: 16/9"
                    (click)="photoInput.click()"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formulario</h5>
            <div class="">
              <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="row g-3">
                  <div class="col-sm-6">
                    <label class="form-label fw-bold">Titulo</label>
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      formControlName="title"
                      [class]="getValidationClasses('title')"
                    />

                    @if (isValidField('title')) {
                    <span class="form-text text-danger">
                      {{ getFieldError("title") }}
                    </span>
                    }
                  </div>

                  <div class="col-sm-6">
                    <label class="form-label fw-bold"
                      >Fecha de publicación</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      id="publicationDate"
                      formControlName="publicationDate"
                      [class]="getValidationClasses('publicationDate')"
                    />
                    @if (isValidField('publicationDate')) {
                    <span class="form-text text-danger">
                      {{ getFieldError("publicationDate") }}
                    </span>
                    }
                  </div>
                  <div class="col-12">
                    <label class="form-label fw-bold">Párrafo 1</label>
                    <textarea
                      class="form-control"
                      formControlName="description_1"
                      [class]="getValidationClasses('description_1')"
                      rows="4"
                    >
                    </textarea>
                    @if (isValidField('description_1')) {
                    <span class="form-text text-danger">
                      {{ getFieldError("description_1") }}
                    </span>
                    }
                  </div>
                  <div class="col-12">
                    <label class="form-label fw-bold">Párrafo 2</label>
                    <textarea
                      class="form-control"
                      formControlName="description_2"
                      [class]="getValidationClasses('description_2')"
                      rows="4"
                    >
                    </textarea>
                  </div>
                  <div class="col-12 mb-3">
                    <label class="form-label fw-bold">Párrafo 3</label>
                    <textarea
                      class="form-control"
                      formControlName="description_3"
                      [class]="getValidationClasses('description_3')"
                      rows="4"
                    >
                    </textarea>
                  </div>
                </div>
                <div class="row gy-3">
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Autor</label>
                    <input
                      type="text"
                      class="form-control"
                      id="autor"
                      formControlName="author"
                      [class]="getValidationClasses('author')"
                    />
                    @if (isValidField('author')) {
                    <span class="form-text text-danger">
                      {{ getFieldError("author") }}
                    </span>
                    }
                  </div>
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Tag</label>
                    <select
                      class="form-control"
                      id="tag"
                      formControlName="tag"
                      [class]="getValidationClasses('tag')"
                    >
                      <option selected disabled value="">
                        --Seleccione una opción--
                      </option>
                      @for (tag of tags; track $index) {
                      <option [value]="tag">
                        {{ tag }}
                      </option>
                      }
                    </select>
                    @if (isValidField('tag')) {
                    <span class="form-text text-danger">
                      {{ getFieldError("tag") }}
                    </span>
                    }
                  </div>
                  <div class="col-md-12">
                    <label class="form-label fw-bold">Imagen</label>
                    <input
                      type="file"
                      accept="image/png"
                      class="form-control"
                      (change)="onFileSelected($event)"
                      #photoInput
                      id="file"
                      formControlName="file"
                      [class]="getValidationClasses('file')"
                    />
                    @if (isValidField('file')) {
                    <span class="form-text text-danger">
                      {{ getFieldError("file") }}
                    </span>
                    }
                  </div>
                </div>
                <hr />
                <button
                  class="w-100 btn btn-primary btn-lg mt-3"
                  type="submit"
                  [disabled]="myForm.invalid"
                >
                  Agregar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
