<header id="header" class="fixed-top">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark py-4 border-bottom shadow-sm"
  >
    <div class="container-fluid">
      <!-- Logo o título -->
      <a class="navbar-brand fs-4 fw-semibold" [routerLink]="['/']">
        Egresados USTA
      </a>

      <!-- Botón hamburguesa (para pantallas pequeñas) -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Contenido del navbar -->
      <div class="collapse navbar-collapse" id="navbarContent">
        <!-- Menú de navegación -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/news-list']"
              routerLinkActive="active"
              >Noticias</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/events-list']"
              routerLinkActive="active"
              >Eventos</a
            >
          </li>
        </ul>

        @if (isAuthenticated()) {
        <div class="d-flex align-items-center gap-3">
          <button class="btn btn-outline-danger btn-sm" (click)="logout()">
            Cerrar sesión
          </button>
        </div>
        } @else {
        <a class="btn btn-outline-light" [routerLink]="['/login']">
          Iniciar Sesión
        </a>
        }
      </div>
    </div>
  </nav>
</header>
