.card {
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 9, 22, 0.1);
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-body {
  padding: 0 20px 20px 20px;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

i {
  font-size: 22px;
}

.my-logo img {
  max-height: 90px;
}

section {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  min-height: 100vh; /* Esto asegura que el fondo cubra toda la pantalla */
}

.btn {
  color: #ffffff;
  background-color: #4154f1;
}
.btn:hover {
  background-color: #717ff5;
  color: black;
}
