<main id="main" class="main">
  <!-- @if (newsService.newsListIsLoading()) {
  <div>Cargando informacion</div>
  }@else {
  -->
  <div class="pagetitle">
    <app-title
      title="administrar eventos"
      section="administrar eventos"
    ></app-title>

    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a style="text-decoration: none">Inicio</a>
        </li>
        <li class="breadcrumb-item active">Evento</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <!-- fixed -->
        </div>
      </div>
    </div>
  </section>
  <!-- } -->
</main>
