<main id="main" class="main">
  <app-title
    title="noticias"
    section="administrar noticias"
    icon="bi bi-newspaper"
  ></app-title>
  <section class="section dashboard">
    @if (newsService.newsListLoading()) {
    <app-spinner />
    }@else {
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="card-title d-flex justify-content-center mb-3 mt-2">
            <div class="input-group w-100 w-md-50">
              <input
                type="text"
                [(ngModel)]="searchTerm"
                placeholder="Buscar por título..."
                class="form-control border border-3"
                [disabled]="isSearchActive()"
              />
              @if (!isSearchActive()) {
              <button (click)="onSearch()" class="btn btn-primary">
                Buscar
              </button>
              } @else {
              <button (click)="onResetSearch()" class="btn btn-secondary">
                Reestablecer
              </button>
              }
            </div>
          </div>

          <!-- fixed -->
          <div class="table-responsive">
            <table class="table table-hover border border-3">
              <thead class="table-primary">
                <tr>
                  <th class="text-center">N°</th>
                  @for (column of columns; track $index) {
                  <th class="text-center" style="width: auto">
                    {{ column | titlecase }}
                  </th>

                  }
                  <th class="text-center">Opciones</th>
                </tr>
              </thead>
              <tbody>
                @for (news of newsList(); track $index) {
                <tr>
                  <td class="text-center fw-bold">{{ $index + 1 }}</td>
                  @for (row of rows; track $index) {
                  <td
                    class="text-center text-truncate"
                    style="max-width: 200px"
                  >
                    {{ news[row] }}
                  </td>

                  }

                  <td class="text-center">
                    <img
                      [srcset]="[news.images?.sm]"
                      [alt]="[news.title]"
                      class="img-fluid"
                    />
                  </td>
                  <td class="text-center">
                    <a
                      [routerLink]="['../details-news/', news.id_news]"
                      class="btn btn-sm btn-outline-primary"
                    >
                      <i class="bi bi-pencil-fill"></i>
                    </a>
                    &nbsp;
                    <button
                      class="btn btn-sm btn-outline-danger"
                      (click)="onDelete(news.id_news)"
                    >
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </td>
                </tr>
                } @empty {
                <div class="d-flex justify-content-center mt-2">
                  No hay información que mostrar
                </div>
                }
              </tbody>
            </table>
          </div>

          <!-- fixed -->
        </div>
        <!-- Paginación -->
        <nav class="mt-4" aria-label="Paginación de noticias">
          <ul class="pagination justify-content-center">
            <!-- Botón Anterior -->
            <li class="page-item" [class.disabled]="currentPage() === 1">
              <button
                class="page-link"
                (click)="previousPage()"
                [disabled]="currentPage() === 1"
                aria-label="Página anterior"
              >
                Anterior
              </button>
            </li>

            <!-- Páginas dinámicas -->
            @for (page of visiblePages(); track page) {
            <li class="page-item" [class.active]="page === currentPage()">
              <button
                class="page-link"
                (click)="goToPage(page)"
                aria-label="Página anterior"
              >
                {{ page }}
              </button>
            </li>
            }

            <!-- Botón Siguiente -->
            <li
              class="page-item"
              [class.disabled]="currentPage() === totalPages()"
            >
              <button
                class="page-link"
                (click)="nextPage()"
                [disabled]="currentPage() === totalPages()"
                aria-label="Página siguiente"
              >
                Siguiente
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    }
  </section>
</main>
