<main id="main" class="main">
  @if (newsService.newsListIsLoading()) {
  <div>Cargando informacion</div>
  }@else {
    <app-title title="noticias" section="administrar noticias"></app-title>

  <section class="section dashboard">
    <div class="row">
      <div class="card">
        <div class="card-body">

          <div class="card-title d-flex justify-content-between mb-3 mt-2">
            <h5>
              Noticias
              <i class="bi bi-newspaper"></i>
            </h5>

            <div class="d-flex align-items-center">
              <button
                class="btn btn-sm btn-primary"
                (click)="goToPreviousPage()"
                [disabled]="offset === 0"
              >
                <i class="bi bi-arrow-left"></i>
                <span> anterior</span>
              </button>
              <span
                class="badge bg-primary me-1 ms-1"
                style="font-size: 18px"
                >{{ currentPage }}</span
              >
              <button
                class="btn btn-sm btn-primary"
                (click)="goToNextPage()"
                [disabled]="!newsService.newsListhasMore()"
              >
                <span>siguiente </span>
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>

          <!-- fixed -->

          @if(newsService.newsListIsLoading()){
          <p>CARGANDO</p>
          }@else {
          <table class="table table-hover border">
            <thead class="table-primary">
              <tr>
                @for (column of columns; track $index) {
                <th style="width: auto">{{ column | titlecase }}</th>
                }
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              @for (news of newsService.newsList()?.data ; track $index) {

              <tr>
                @for (row of rows; track $index) {
                <td>{{ news[row] }}</td>
                }
                <td>
                  <img [srcset]="[news.images?.sm]" [alt]="[news.title]" />
                </td>
                <td>
                  <a [routerLink]="['../details-news/', news.id_news]">
                    <i class="bi bi-pencil"></i>
                  </a>
                </td>
              </tr>
              }@empty {
              <div class="d-flex justify-content-center mt-2">
                No hay información que mostrar
              </div>
              }
            </tbody>
          </table>
          }

          <!-- fixed -->
        </div>
      </div>
    </div>
  </section>
  }
</main>
