<section class="mysection-public">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-3">
        <h1 class="page-title">Listado de Noticas</h1>
      </div>

      <div class="col-md-12 mt-4">

        <div class="d-md-flex post-entry-2 small-img">
          <a href="single-post.html" class="me-4 thumbnail">
            <img
              src="https://fastly.picsum.photos/id/84/900/600.jpg?hmac=EQfDvWZ0G-vYFTqlM_XUl_tRTscPE1TMBDhk7OO80RI"
              alt=""
              class="img-fluid"
            />
          </a>
          <div>
            <div class="post-meta">
              <span class="date">Business</span>
              <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
            </div>
            <h3>
              <a href="single-post.html"
                >What is the son of Football Coach John Gruden, Deuce Gruden
                doing Now?</a
              >
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio placeat exercitationem magni voluptates dolore. Tenetur
              fugiat voluptates quas.
            </p>
            <div class="d-flex align-items-center author">
              <div class="name">
                <h3 class="m-0 p-0">Wade Warren</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="d-md-flex post-entry-2 small-img">
          <a href="single-post.html" class="me-4 thumbnail">
            <img
              src="https://fastly.picsum.photos/id/84/900/600.jpg?hmac=EQfDvWZ0G-vYFTqlM_XUl_tRTscPE1TMBDhk7OO80RI"
              alt=""
              class="img-fluid"
            />
          </a>
          <div>
            <div class="post-meta">
              <span class="date">Business</span>
              <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
            </div>
            <h3>
              <a href="single-post.html"
                >What is the son of Football Coach John Gruden, Deuce Gruden
                doing Now?</a
              >
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio placeat exercitationem magni voluptates dolore. Tenetur
              fugiat voluptates quas.
            </p>
            <div class="d-flex align-items-center author">
              <div class="name">
                <h3 class="m-0 p-0">Wade Warren</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="d-md-flex post-entry-2 small-img">
          <a href="single-post.html" class="me-4 thumbnail">
            <img
              src="https://fastly.picsum.photos/id/84/900/600.jpg?hmac=EQfDvWZ0G-vYFTqlM_XUl_tRTscPE1TMBDhk7OO80RI"
              alt=""
              class="img-fluid"
            />
          </a>
          <div>
            <div class="post-meta">
              <span class="date">Business</span>
              <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span>
            </div>
            <h3>
              <a href="single-post.html"
                >What is the son of Football Coach John Gruden, Deuce Gruden
                doing Now?</a
              >
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio placeat exercitationem magni voluptates dolore. Tenetur
              fugiat voluptates quas.
            </p>
            <div class="d-flex align-items-center author">
              <div class="name">
                <h3 class="m-0 p-0">Wade Warren</h3>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Paging -->
      <div class="text-start py-4">
        <div class="mycustom-pagination">
          <a href="#" class="prev">Prevous</a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#" class="next">Next</a>
        </div>
      </div>
      <!-- End Paging -->
    </div>
  </div>

  <!-- End Search Result -->
</section>
