.mysection-public {
  padding: 40px 0;
  margin-top: 60px;

  .pagetitle2 {
    margin-bottom: 10px;
  }
  .pagetitle2 h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
  }
}
