.my-pagination button {
  border-radius: 0.5rem;
  background-color: rgb(10, 35, 98);
  border: 0cap;
}

.my-pagination .current-page {
  background-color: rgb(10, 35, 98);
  font-size: 20px;
  color: white;
  font-stretch: expanded;
  border-radius: 15rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.my-pagination button span {
  color: white;
  font-size: 16px;
}

.option-hover {
  transition: background-color 0.2s ease, transform 0.2s ease;
  border-radius: 0.5rem;
}

.option-hover:hover {
  background-color: rgba(13, 110, 253, 0.1);
  transform: translateX(3px);
  cursor: pointer;
}

.option-hover:hover {
  background-color: #f1f5ff;
  cursor: pointer;
}
