<main id="main" class="main">
  <app-title
    title="administrar graduados"
    section="administrar eventos"
    icon="bi bi-mortarboard-fill"
  ></app-title>

  <section class="section dashboard">
    @if (graduatesService.graduatesListIsLoading()) {
    <app-spinner />
    }@else {
    <div class="card">
      <div class="card-body">
        <!--//* START CARD TITLE --->
        <div
          class="card-title d-flex flex-column flex-md-row justify-content-between align-items-start gap-2 mb-2 mt-2"
        >
          <div class="input-group w-100">
            <input
              type="text"
              [(ngModel)]="searchTerm"
              placeholder="Buscar por título..."
              class="form-control border border-3"
              [disabled]="isSearchActive()"
            />
            @if (!isSearchActive()) {
            <button (click)="onSearch()" class="btn btn-primary">Buscar</button>
            } @else {
            <button (click)="onResetSearch()" class="btn btn-secondary">
              Reestablecer
            </button>
            }
          </div>

          <div class="dropdown">
            <button
              class="btn btn-outline-dark rounded-pill d-flex align-items-center gap-2 dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-gear-fill"></i> Opciones
            </button>
            <ul class="dropdown-menu shadow p-2 rounded-3 animated-options">
              <li>
                <button
                  class="dropdown-item d-flex align-items-center gap-2 option-hover"
                  (click)="onDownloadTemplate()"
                >
                  <i class="bi bi-download text-primary"></i> Descargar
                  plantilla
                </button>
              </li>
              <li>
                <label
                  class="dropdown-item d-flex align-items-center gap-2 option-hover m-0"
                >
                  <i class="bi bi-upload text-success"></i> Subir CSV para crear
                  <input
                    type="file"
                    accept=".csv"
                    (change)="onFileSelected($event)"
                    hidden
                  />
                </label>
              </li>
              <li>
                <button
                  class="dropdown-item d-flex align-items-center gap-2 option-hover"
                  (click)="onUploadCSV()"
                >
                  <i class="bi bi-check-circle text-success"></i> Confirmar
                  creación
                </button>
              </li>
              <li>
                <label
                  class="dropdown-item d-flex align-items-center gap-2 option-hover m-0"
                >
                  <i class="bi bi-file-earmark-check text-secondary"></i>
                  Validar CSV
                  <input
                    type="file"
                    accept=".csv"
                    (change)="onFileSelected($event)"
                    hidden
                  />
                </label>
              </li>
              <li>
                <button
                  class="dropdown-item d-flex align-items-center gap-2 option-hover"
                  (click)="onValidateCSV()"
                >
                  <i class="bi bi-shield-check text-warning"></i> Confirmar
                  validación
                </button>
              </li>
              <li>
                <button
                  class="dropdown-item d-flex align-items-center gap-2 option-hover"
                  (click)="onExportCSV()"
                >
                  <i class="bi bi-file-earmark-arrow-down text-info"></i>
                  Exportar datos
                </button>
              </li>
            </ul>
          </div>
        </div>

        <!--//* END CARD TITLE-->
        <!-- fixed -->

        <table class="table table-hover border border-3">
          <thead class="table-primary">
            <tr>
              <th class="text-center">N°</th>
              @for (column of columns; track $index) {
              <th style="width: auto" class="text-center">
                {{ column | titlecase }}
              </th>
              }
              <th style="width: auto" class="text-center">Opciones</th>
            </tr>
          </thead>
          <tbody>
            @for (graduate of graduatesList() ; track $index) {
            <tr>
              <td class="text-center fw-bold">{{ $index + 1 }}</td>
              @for (rows of rows; track $index) {

              <td class="text-center">{{ graduate[rows] }}</td>
              }
              <td class="text-center">
                <span
                  class="badge"
                  [class]="graduate.job ? 'bg-success' : 'bg-danger'"
                >
                  {{ graduate.job ? "Aplica" : "No Aplica" }}
                </span>
              </td>
              <td class="text-center">
                <span
                  class="badge"
                  [class]="
                    graduate.postgraduate_degree ? 'bg-success' : 'bg-danger'
                  "
                >
                  {{ graduate.postgraduate_degree ? "Aplica" : "No Aplica" }}
                </span>
              </td>
              <td class="text-center">
                <div class="d-flex justify-content-evenly align-items-center">
                  <a
                    [routerLink]="[
                      '../details-graduate/',
                      graduate.id_graduate
                    ]"
                  >
                    <i class="bi bi-pencil-fill text-primary"></i>
                  </a>

                  <i
                    class="bi bi-trash-fill text-danger"
                    style="cursor: pointer"
                    (click)="onDelete(graduate.id_graduate)"
                  ></i>
                </div>
              </td>
            </tr>
            }@empty {
            <div class="d-flex justify-content-center mt-2">
              No hay información que mostrar
            </div>
            }
          </tbody>
        </table>

        <!-- fixed -->
        <nav class="mt-4" aria-label="Paginación de noticias">
          <ul class="pagination justify-content-center">
            <!-- Botón Anterior -->
            <li class="page-item" [class.disabled]="currentPage() === 1">
              <button
                class="page-link"
                (click)="previousPage()"
                [disabled]="currentPage() === 1"
                aria-label="Página anterior"
              >
                Anterior
              </button>
            </li>

            <!-- Páginas dinámicas -->
            @for (page of visiblePages(); track page) {
            <li class="page-item" [class.active]="page === currentPage()">
              <button
                class="page-link"
                (click)="goToPage(page)"
                aria-label="Página anterior"
              >
                {{ page }}
              </button>
            </li>
            }

            <!-- Botón Siguiente -->
            <li
              class="page-item"
              [class.disabled]="currentPage() === totalPages()"
            >
              <button
                class="page-link"
                (click)="nextPage()"
                [disabled]="currentPage() === totalPages()"
                aria-label="Página siguiente"
              >
                Siguiente
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    }
  </section>
</main>
