<main id="main" class="main">
  <app-title
    title="Noticias"
    section="administrar noticias"
    subSection="detalles notica"
    icon="bi bi-newspaper"
  ></app-title>
  <section class="section dashboard">
    @if (loading) {
    <app-spinner />
    }@else {
    <div class="row">
      <div class="col-lg-5">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <h5 class="text-center">
                    <a
                      [routerLink]="['../../']"
                      routerLinkActive="router-link-active"
                      ><i class="bi bi-arrow-left"></i
                    ></a>
                    {{ "imagen" | titlecase }}
                  </h5>
                </div>
                <div class="card shadow-lg border border-5">
                  <img
                    [src]="imagePreview | image"
                    class="img-fluid"
                    alt="No image"
                    style="aspect-ratio: 16/9"
                    (click)="photoInput.click()"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-center"><h4>Detalles Noticia</h4></div>
            <!-- fixed -->

            <div class="">
              <form [formGroup]="myForm">
                <div class="row g-3">
                  <div class="col-sm-6">
                    <label class="form-label fw-bold">Titulo</label>
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      formControlName="title"
                      [class]="getValidationClasses('title')"
                    />

                    @if (isValidField('title')) {
                    <span class="form-text text-danger">
                      {{ getFieldError("title") }}
                    </span>
                    }
                  </div>

                  <div class="col-sm-6">
                    <label class="form-label fw-bold"
                      >Fecha de publicación</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      id="publicationDate"
                      formControlName="publicationDate"
                      [class]="getValidationClasses('publicationDate')"
                    />
                    @if (isValidField('title')) {
                    <span class="form-text text-danger">
                      {{ getFieldError("publicationDate") }}
                    </span>
                    }
                  </div>

                  <div class="col-12">
                    <label class="form-label fw-bold">Párrafo 1</label>
                    <textarea
                      class="form-control"
                      formControlName="description_1"
                      [class]="getValidationClasses('description_1')"
                      rows="4"
                    >
                    </textarea>
                    @if (isValidField('title')) {
                    <span class="form-text text-danger">
                      {{ getFieldError("description_1") }}
                    </span>
                    }
                  </div>

                  <div class="col-12">
                    <label class="form-label fw-bold">Párrafo 2</label>

                    <textarea
                      class="form-control"
                      formControlName="description_2"
                      rows="4"
                    >
                    </textarea>
                  </div>

                  <div class="col-12">
                    <label class="form-label fw-bold">Párrafo 3</label>
                    <textarea
                      class="form-control"
                      formControlName="description_3"
                      rows="4"
                    >
                    </textarea>
                  </div>
                </div>

                <div class="row gy-3">
                  <div class="col-md-6">
                    <label class="form-label fw-bold">Autor</label>
                    <input
                      type="text"
                      class="form-control"
                      id="autor"
                      formControlName="author"
                      [class]="getValidationClasses('author')"
                    />
                    @if (isValidField('author')) {
                    <span class="form-text text-danger">
                      {{ getFieldError("author") }}
                    </span>
                    }
                  </div>

                  <div class="col-md-6">
                    <label class="form-label fw-bold">Tag</label>

                    <select
                      class="form-control"
                      id="tag"
                      formControlName="tag"
                      [class]="getValidationClasses('tag')"
                    >
                      <option selected disabled value="">
                        --Seleccione una opción--
                      </option>
                      @for (tag of tags; track $index) {
                      <option [value]="tag">
                        {{ tag | titlecase }}
                      </option>
                      }
                    </select>
                    @if (isValidField('tag')) {
                    <span class="form-text text-danger">
                      {{ getFieldError("tag") }}
                    </span>
                    }
                  </div>
                  <div class="col-md-12">
                    <label class="form-label fw-bold">Imagen</label>
                    <input
                      type="file"
                      accept="image/png"
                      class="form-control"
                      (change)="onFileSelected($event)"
                      #photoInput
                      id="file"
                      formControlName="file"
                      [class]="getValidationClasses('file')"
                    />
                    @if (isValidField('file')) {
                    <span class="form-text text-danger">
                      {{ getFieldError("file") }}
                    </span>
                    }
                  </div>
                </div>

                <hr />
                <div class="d-flex justify-content-between">
                  <button
                    class="btn btn-primary btn-lg"
                    type="submit"
                    [disabled]="myForm.invalid"
                    (click)="onSubmit()"
                  >
                    Actualizar
                  </button>
                  <button class="btn btn-danger btn-lg" (click)="onDelete()">
                    Eliminar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </section>
</main>
