<main id="main" class="main">
  <app-title title="reportes graduados" section="graficas"></app-title>
  <section class="section contact">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="row gy-4 mt-4 border border-danger">
            <div class="col-xl-12">
              <div class="row">
                @for (item of graphics; track $index) {

                <div class="col-lg-3">
                  <a [routerLink]="[item.ruta]">
                    <div class="info-box card d-flex align-items-center">
                      <i [class]="item.icono"></i>
                      <h3 class="mt-4">{{ item.nombre }}</h3>
                    </div>
                  </a>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
