<main id="main">
  <app-title
    title="reportes"
    section="graficas"
    icon="bi bi-clipboard2-data"
  ></app-title>

  <section class="section option">
    <div class="card">
      <div class="card-body">
        <div class="card-title mb-4">
          <a [routerLink]="['../']">
            <i class="bi bi-arrow-left"></i>
          </a>
          <h3 class="text-center">
            {{ "empleabilidad de egresados" | titlecase }}
          </h3>
          <hr />
        </div>
        <div class="row gy-4">
          <div class="col-xl-12">
            <div class="row">
              @for (item of graphics; track $index) {

              <div class="col-lg-4">
                <a [routerLink]="[item.path]">
                  <div class="info-box card d-flex align-items-center">
                    <i [class]="item.icon"></i>
                    <h3 class="mt-4 text-center">
                      {{ item.name | titlecase }}
                    </h3>
                  </div>
                </a>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
